#botao-compra{
    background-color: #0D0D0D;
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

 #preco-antigo {
    text-decoration: line-through;
    color: rgb(255, 0, 0);
  }
  